mixin addItem()
	.well.well-sm
		form.form-horizontal(action="/admin/additem" method="POST")
			h3.text-center ADD NEW ITEM
			br
			h4.text-center Item Description
			.form-group
				label.col-sm-3.control-label.d-none.d-sm-block(for="itemName") Item Name
					.col-sm-9.col-xs-12
						.input-group
							span.input-group-addon @
							input.form-control(type="text" name="itemName" placeholder="Item Name")
			.form-group
				.col-sm-9.col-xs-12
					.form-check.form-check-inline
						- const categories = [ 'Accessories 🧢', 'Clothes 👕', 'Shoes 👞' ]
						each category in categories
							input.form-check-input(type="radio" name=`${category.toLowerCase()}` value=`${category})
							label.form-check-label(for=`${category.toLowerCase()}`) #{category}
			.form-group
				.col-sm-9.col-xs-12
					.form-check.form-check-inline
						- const genders = [ 'Men ', 'Women', 'None' ]
						each gender in genders
							input.form-check-input(type="radio" name=`${category.toLowerCase()}` value=`${category})
							label.form-check-label(for=`${category.toLowerCase()}`) #{category}
			.form-group
				label.col-sm-3.control-label.d-none.d-sm-block(for="description") Description
					.col-sm-9.col-xs-12
						.input-group
							span.input-group-addon.glyphicon.glyphicon-comment
							textarea.form-control(type="text" name="description" placeholder="Description 🛍")
			.form-group
				label.col-sm-3.control-label.d-none.d-sm-block(for="price") Price
					.col-sm-9.col-xs-12
						.input-group
							span.input-group-addon @
							input.form-control(type="text" name="price" placeholder="Price 💸")
			.form-group
				.col-sm-9.col-xs-12
					.form-check.form-check-inline
						- const measurements = ['S', 'M', 'L', 'XL', 'XXL']
						- const sizes = ['6', '7', '8', '9', '10', '11']
						each measure in measurements
							input.form-check-input(type="checkbox" name=`${measure.toLowerCase()}` value=`${measure})
							label.form-check-label(for=`${measure.toLowerCase()}`) #{measure}
						each size in sizes
							input.form-check-input(type="checkbox" name=`${size}` value=`${size})
							label.form-check-label(for=`${size}`) #{size}
			.form-group
				upload image * 3
			br
			h4.text-center Seller's Information
			.form-group
				drop-down of existing sellers
			.form-group
				label.col-sm-3.control-label.d-none.d-sm-block(for="sellerName") Seller Name
					.col-sm-9.col-xs-12
						.input-group
							span.input-group-addon @
							input.form-control(type="text" name="sellerName" placeholder="Seller Name 🗿")
			.form-group
				label.col-sm-3.control-label.d-none.d-sm-block(for="phone") Seller Phone
					.col-sm-9.col-xs-12
						.input-group
							span.input-group-addon @
							input.form-control(type="text" name="phone" placeholder="Phone 📱")
			.form-group
				label.col-sm-3.control-label.d-none.d-sm-block(for="sellerEmail") Seller Email
					.col-sm-9.col-xs-12
						.input-group
							span.input-group-addon @
							input.form-control(type="text" name="sellerName" placeholder="Seller Email ✉")
			br
			.form-group
				.col-sm-9.col-sm-offset-3.col-xs-12
					button.btn.btn-primary(type="submit") Submit Item ▶
				
